/* All styles here are common for entire application, most of the application uses bootstrap for styling, but few elements need custom styling */

body {
  font-family: 'Open Sans', sans-serif !important;
}
.text-slanted {
  font-family: 'Dancing Script', cursive;
}
.letter-spacing {
  letter-spacing: 0.5rem;
}
.header-hero {
  min-height: calc(100vh - 56px);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('./images/bcg.jpg') center/cover no-repeat;
  position: inherit;
}
.bg-brown {
  background: rgba(0, 0, 0, 0.842);
}

.bg-grey {
  background: rgba(0, 0, 0, 0.678);
}

.bg-list {
  background: rgba(0, 0, 0, 0.418);
}

.bg-yellow {
  background: rgb(83, 62, 3);
}
